@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Handlee&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(./img/hero.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 85vh;
}

h1 {
    color: white;
}

h4 {
    color: #F89223;
    font-family: 'Handlee', cursive;
}

input,
button {
    border: 1px solid #dedede;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 14px;
    padding: 10px 10px;
    margin: -4px;
}

input[type='text'] {
    width: 300px;
}

.search-btn {
    cursor: pointer;
    border-left: 0;
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin: 0;
    padding: 10px 40px;
    background-color: #F89223;
    color: white;
}