@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Handlee&display=swap');

:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(./img/hero.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

body {
    font-family: 'Barlow', sans-serif;
}

.container {
    margin: auto;
    max-width: 88.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-color: rgba(255, 255, 255, 0.7); */
}

.flex {
    display: flex;
}

.container h3 {
    margin-top: 2.5rem;
    margin-bottom: -0.7rem;
    color: #F89223;
    font-family: 'Handlee', cursive;
    font-size: 2.2rem;
}

.container h1 {
    color: white;
    font-size: 4.5rem;
    margin-bottom: 2.5rem;
}

input,
button {
    border: 1px solid #dedede;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0;
}

input[type="text"] {
    width: 35rem;
}

button {
    border-color: #F89223;
    background-color: #F89223;
    color: white;
}

.search-btn {
    cursor: pointer;
    width: 8rem;
    border-left: 0;
    border-radius: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.random-btn {
    cursor: pointer;
    margin-left: 1rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

@media only screen and (max-width: 885px) {}

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 480px) {}